# Dependencias de Node.js
node_modules/

# Remover el Frontend
frontend/

# Archivos sensibles
.env
dataValidationTest.js
order5685481013436.json
mongoStatusCreation.js
package-lock.json
trackingTestScript.js

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
combined.log
error.log